doctype html
html(lang="en")
  head
    link(rel="stylesheet", 
         href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
         crossorigin="anonymous")
    include includes/firebase_header.html
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    style.
      body {
        overflow-x: hidden;
        word-wrap: break-word;
      }
    
  body
    // sign in navbar & sign in modal
    nav.navbar.navbar-expand-xl.navbar-dark.bg-dark
      a(class="navbar-brand")
        img(src="https://gdurl.com/SDjR", class="d-inline-block", width="36", height="36", alt="")
      span(class="navbar-brand text-center mr-auto") 新竹市大專得勝訓練
      div(id="user-info-container", class="collapse navbar-collapse")
        // button(class="btn btn-success", id="sign-in-button", data-toggle="modal", data-target="#signin-modal") 登入
        // button(class="btn btn-danger", id="sign-out-button") 登出
      div(class="modal fade", id="signin-modal")
        div(class="modal-dialog modal-dialog-centered")
          div(class="modal-content")
            div(class="modal-header")
              h4(class="modal-title") 登入
              button(type="button", class="close", data-dismiss="modal") &times;
            div(class="modal-body")
              div(id="firebaseui-auth-container")
            div(class="modal-footer")
              button(type="button", class="btn btn-danger", data-dismiss="modal") 取消
      button(class="navbar-toggler navbar-toggler-right",
             type="button",
             data-toggle="collapse",
             data-target="#user-info-container",
             aria-controls="user-info-container",
             aria-expanded="false",
             aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
          
    // calendar
    div.container.wrapper
      div(id="sign-in-status")
      div(id="sign-in")
      div(id="account-details")


    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js",
           integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN",
           crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js",
           integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q",
           crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
           integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
           crossorigin="anonymous")

    ul(class="navbar-nav ml-auto", id="user-info", style='display:none')
      li(class="nav-item")
        img(width="36", height="36", class="rounded-circle nav-item user-image")
      li(class="nav-item")
        span(class="navbar-text text-center user-name")
      li(class="nav-item")
        button(class="btn btn-danger nav-item sign-out-button") 登出



